- data.pricing_faq.groups.each do |group|
  %details
    %summary
      %span.group-title
        = group.group
      %span.icon.expand= partial "/images/icons/slp-plus.svg"
      %span.icon.collapse= partial "/images/icons/slp-minus.svg"
    - group.questions.each do |question|
      .faq-item
        .question
          = question.question
        .answer
          = kramdown question.answer
