/*
  **  PENDING SLIPPERS **
  The codes below can be disabled after slipers is updated for these styles.
*/

.slp-self-center {
  align-self: center;
}

.slp-float-none {
  float: unset;
}

.slp-space-x-4>*+* {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.slp-space-y-4>*+* {
  --tw-space-y-reverse: 0;
  margin-top: calc(1px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1px * var(--tw-space-y-reverse));
}

.slp-border-opacity-80 {
  --tw-border-opacity: 0.8;
}

.slp-w-8 {
  width: 20px;
}

.slp-h-8 {
  height: 20px;
}


/*
  The codes below are important for this page.
*/

:root body {
  background: #ffffff;
}

.feature-item {
  &.long-line:before {
    content: url("/images/topics/body-featured-line-2.svg");
    display: block;
    position: absolute;
    text-align: center;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }

  &.long-line:first-child:before {
    content: url("/images/topics/body-featured-line-1.svg");
  }

  &.long-line:last-child:after {
    content: url("/images/topics/body-featured-line-3.svg");
    position: absolute;
    text-align: center;
    bottom: -80px;
    left: 0;
    right: 0;
  }

  .icon {
    top: -15px;
    left: 30px;
  }
}

#body-box {
  background: #F2F2F2;
}

#featured-partners-intro {
  padding-top: 3.2rem;

  h1 {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      background-image: url("/images/pricing/particles-head.svg");
      background-size: contain;
      width: 96px;
      height: 78px;
      position: absolute;
      right: -25%;
      top: -45px;
    }
  }
}

.slp-partner-card-icon {
  max-width: 350px;
  height: 306.25px;

  .partner-logo {
    max-width: 218px;
  }
}


.topic-resources {
  position: relative;
  z-index: 0;

  .gitops-topic-bg,
  .col-md-5,
  .col-md-1 {
    display: none;
  }

  .icon {
    max-width: 24px;
    vertical-align: middle;
    margin-right: 20px;
  }

  p,
  a {
    margin-left: 5.5rem;
  }

  hr {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.benefits-section {
  h2 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 81px;
      height: 88px;
      background-image: url("/images/topics/gitops-header-bg-3.svg");
      top: -30px;
      left: -60px;
    }
  }
}

.slp-blockquote-container-upper {
  $border: 2px;
  color: #FFF;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 8px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    margin: -$border;
    border-radius: 6px;
    background: linear-gradient(to right, #52CDB7, #2F80ED);
  }

  blockquote {
    border-left: transparent;
    position: relative;
    z-index: 9;
    background: #fff;
    border-radius: 3px;
  }
}

.slp-blockquote-container-lower {
  $border: 2px;
  color: #FFF;
  background: linear-gradient(to right, #F16B38, #A454CF);
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(20px, 20px);


  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 4px;
    margin: -2.25px;
    background: #fff;
    display: block;
    height: 97%;
    width: 98.75%;
  }
}

.gray-gradient {
  // background: rgb(242, 242, 242);
  background: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(255, 255, 255, 1) 50%);

  .video-segment {
    margin: auto;
  }
}


// Styles for mobile.

@media (max-width: 991px) {

  .gray-gradient {
    background: rgb(242, 242, 242);
  }

}

@media (max-width: 640px) {
  .sm\:slp-text-center {
    text-align: center;
  }

  .sm\:slp-w-100 {
    width: 100%;
  }

  .sm\:slp-m-0 {
    margin: 0;
  }

  .sm\:slp-p-0 {
    padding: 0;
  }

  .sm\:slp-mb-0 {
    margin-bottom: 0;
  }

  .sm\:slp-mt-24 {
    margin-top: 6rem;
  }

  .sm\:slp-m-auto {
    margin: auto;
  }

  .slp-btn-group .slp-btn:last-child {
    transform: translate(0, -25px);
  }

  .gray-gradient .video-segment {
    margin: 0;
  }

  .gray-gradient {
    background: rgb(242, 242, 242);
  }

  .slp-blockquote-container-lower,
  .slp-blockquote-container-upper {
    width: 90%;
  }

  .slp-blockquote-container-lower {
    transform: translate(25px, 25px);

    &::after {
      left: 6px;
      top: 6px;
      width: 97.75%;
      height: 98%;
    }
  }

  .slp-blockquote-container-upper {
    margin: 0 auto 0 10px;

    &::before {
      width: 91%;
      left: 10px;
    }
  }

  .topic-resources {
    margin-top: 4rem;

    &:before {
      content: "";
      display: block;
      height: 102%;
      width: 120%;
      background: #fff;
      position: absolute;
      z-index: -1;
      left: -10%;
      top: 0;
    }
  }

  .benefits-section h2:before {
    display: none;
  }

  #featured-partners-intro {
    padding-top: 0;

    h1 {
      display: block;

      &:before {
        display: none;
      }
    }
  }
}